<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel = "stylesheet" href = "/css/style.css"></head>
        <div class="main-content">
             {{>header}}
             <p>this site is created by Anjali Suveer. It uses data from mapbox.com and darksky.com</p>
            <img class="portrait" src="/img/gunjan.png">
            
        </div>
        <body>
           {{>footer}}
        </body>
    
</html>