<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel = "stylesheet" href = "/css/style.css"></head>
        <div class="main-content">
         {{>header}}
            
            <p>{{helpText}}</p>
        </div>
        <body>
            
            {{>footer}}
        </body>
    
</html>